.banner {
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczOIEhbwjWmekUPs_sh8PC6EeVRKvGmI2vsel_ilioQFk20GQSlMwejrvoENaXgoX8T5l1G61tCFWqd9Sd-XfWg_yy5wRRGXVci1EbvjVToYVby8n7V9XORhLQfU-m6RLq0X4SFy2hpgFmHEJy4Ri_YRpw=w1440-h746-s-no-gm");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}
